AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT_NAME=

# Security Keys (CHANGE THESE IN PRODUCTION!)
ENCRYPTION_KEY=
JWT_SECRET_KEY=

# Docker Service Names
DOCKER_USERMANAGEMENTSERVICE=usermanagementservice
DOCKER_CHATBOTSERVICE=chatbotservice

# Docker Networking
DOCKER_BRIDGE_DEV=acl-chatbot-dev

# Website rate limiter
LIMIT = 10
COOLDOWN = 30

NGROK_AUTH_TOKEN=